*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box; 
}

.hero{
    width: 100%;
    height: 100vh;
    background: url('./images/hero-bg.jpg') no-repeat center center/cover;
}